.binary-tree {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.node-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.previous-level-container {
  position: absolute;
  top: calc(50% - 34px);
  left: calc(50% + 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6a95fa;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  gap: 5px;
}
